.countdown-timer {
    width: 600px;
    height: 75px;
    border: 2px solid rgb(52, 174, 190);

    font-family: "Oswald";
    font-size: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.countdown-timer span {
    margin-left: 1px;
    margin-right: 1px;
}

.two-numbers {
    width: 2ch;
}